.contact {
  // background: gray;
  width: 100%;
  height: 539px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  gap: 100px;
  @include mobile {
    flex-direction: column;
    justify-content: flex-start;
    gap: 10px;
    margin-bottom: 100px;
  }

  &__info {
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 20px;
    margin-bottom: 20px;
    @include mobile {
      align-items: start;
      padding-left: 20px;
    }
  }

  &__title {
    font-size: 48px;
    margin-bottom: 50px;
    @include mobile {
      margin-bottom: 25px;
    }
  }

  &__subtitle {
    font-size: 16px;
    margin-bottom: 50px;
    @include mobile {
      margin-bottom: 25px;
    }
  }

  &__email {
    font-size: 18px;
    color: gray;
    text-decoration: none;
    & a {
      text-decoration: none;
      color: gray;
    }
  }

  &__tel {
    font-size: 18px;
    color: gray;
    margin-left: 10px;
    text-decoration: none;
    & a {
      text-decoration: none;
      color: gray;
    }
  }

  &__form__column {
    width: 600px;
    display: flex;
    // flex-grow: 2;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
  }

  &__form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding: 10px;
  }

  i {
    color: rgb(71, 180, 216);
    margin-right: 10px;
  }

  &__name {
    width: 100%;
    height: 40px;
    border: none;
    border-bottom: 1px solid gray;
  }

  &__label_name {
    color: blue;
    font-size: 22px;
    letter-spacing: 3px;
    font-family: "Courier New", Courier, monospace;
    font-weight: 300;
  }

  &__label_mail {
    color: blue;
    font-size: 22px;
    letter-spacing: 3px;
    font-family: "Courier New", Courier, monospace;
    font-weight: 300;
  }

  &__label__check {
    display: flex;
    flex-direction: row;
    gap: 10px;
    color: gray;
    font-size: 12px;
    width: 100%;
  }

  &__form_name {
    font-size: 28px;
    width: 100%;
    height: 60px;
    border: none;
    border-bottom: 1px solid gray;
  }

  &__form_email {
    font-size: 28px;
    width: 100%;
    height: 60px;
    border: none;
    border-bottom: 1px solid gray;
  }

  &__button {
    margin: 20px;
    width: 200px;
    height: 70px;
    background-color: rgba(0, 76, 255, 0.573);
    border: 0;
    border-radius: 40px;
    align-self: self-end;
  }

  &__data {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    @include mobile {
      flex-direction: column;
      justify-content: space-around;
    }
  }

  &__form__checked {
    display: none;
    width: 30px;
    height: 30px;
    margin-right: 20px;
  }

  &__custom__label {
    flex-basis: 100px;
    position: relative;
    display: block;
    background: white;
    width: 30px;
    height: 30px;
    border: 2px solid black;
    border-radius: 2px;
  }

  &__form__checked:checked ~ &__custom__label {
    position: relative;
    // background: gray;
    display: block;
    width: 30px;
    height: 30px;
    border: 2px solid black;
    border-radius: 4px;
  }

  &__checked__mark {
    display: none;
    width: 20px;
    height: 20px;
    z-index: 1;
  }

  &__form__checked:checked ~ &__label__check &__custom__label &__checked__mark {
    position: absolute;
    top: 50%;
    right: 47%;
    transform: translate(50%, -50%);
    font-size: 20px;
    color: rgb(12, 12, 12);
    display: inline-block;
    width: 20px;
    height: 20px;
  }

  &__container__check {
    display: flex;
    flex-direction: row;
    gap: 25px;
  }
}
