.pricing {
  //   background-color: gray;

  &__title {
    margin: 40px auto;
    font-size: 34px;
    width: fit-content;
  }

  &__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
  }

  &__section1 {
    width: 400px;
    height: 200px;
    border: 2px solid red;
    border-radius: 10px;
  }

  &__section_title {
    font-size: 24px;
  }
  // separate pricing types

  &__section1 {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: stretch;

    &::after {
      position: absolute;
      width: 140px;
    }
  }

  &__column1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    gap: 20px;
    // border: 2px solid red;
  }

  &__column2 {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    // border: 2px solid red;
  }

  &__value1 {
    color: red;
    font-size: 36px;
  }

  //   later

  &__section2 {
    width: 440px;
    height: 220px;
    border: 2px solid blue;
    border-radius: 10px;
  }

  &__section3 {
    width: 400px;
    height: 200px;
    border: 2px solid green;
    border-radius: 10px;
  }

  li:nth-child(n + 4) {
    list-style-image: url(../../list_styles/red_crossedJPG.JPG);
  }

  li {
    margin: 17px 0;
  }
}
